
html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: Lucida Grande,Trebuchet MS;
	font-size: 13px;
}

li.clearfix {
	display: list-item;
}

.hidden {
	display: none !important;
}

.clearfix::after {
	clear: both;
	display: block;
	content: " ";
	height: 0;
	visibility: hidden;
}

.messages {
	margin: 0;
	padding: 0;
	background-color: white;
	width: 100%;
	overflow: hidden;
	overflow-y: visible;
	max-height: 100%;
	min-width: 300px;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

/* all types */
.messages li {
	list-style-type: none;
	position: relative;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #EEE;
}

.messages > li > .content {
	display: block;
	margin-right: 95px;
	padding: 5px;
	word-wrap: break-word;
}


/* regular message */
.message {
	border-left: 155px solid #F1F1F1;
}

.message > .user {
	display: block;
	font-weight: bold;
	float: left;
	width: 145px;
	padding: 5px;
	margin-left: -155px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.message > .time, .notification > .time {
	display: block;
	position: absolute;
	text-align: right;
	padding: 5px;
	right: 0;
	top: 0;
	color: #BBB;
	width: 85px;
}


/* notification */
.notification {
	color: #BBB;
}

/* paste */
pre.multiline {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap!important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: 99%;
}

/* collapsible items */
.collapsible_box {
	border: 1px solid #DDD;
	padding: 5px;
}

h3.collapsible_title {
	color: #1C94C4;
	font-size: smaller;
	padding: 5px;
	margin-bottom: 0;
	border: 1px solid #CCC;
	background-color: #EEE;
	cursor: pointer;
}

.collapse-info {
	margin-left: 10px;
	font-style: italic;
	text-decoration: none;
	color: #BBB;
}