<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>JabbReto</string>
	<key>CFBundleIconFile</key>
	<string>JabbReto.icns</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>JabbReto.icns</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>ca.picoe.jabbr-eto</string>
	<key>CFBundleName</key>
	<string>JabbReto</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.4</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
